<!-- <div ng-controller="ChatController as chat" class="chat-container"> -->
<div class="chat-container">
  <div class="messages-container">
    <ul id="message-list">
      <li class="message-in-chat" ng-repeat="message in (messageList | orderBy:'time')">
        <span class="message-in-chat__time">[{{message.time | date:'yyyy-MM-dd HH:mm:ss'}}]</span>
        <span class="message-in-chat__nickname" ng-hide="message.type !== 'ChatMessage'">{{message.nickname}}: </span>
        <span class="message-in-chat__text">{{message.text}}</span>
      </li>
    </ul>
  </div>

  <form ng-submit="sendMessage()" id="new-message-form">
    <input
      type="text"
      ng-model="typedText"
      class="new-message-form__text"
      maxlength="maxLength"
      placeholder="type your message here"
      autofocus
    />
    <input class="new-message-form__send" type="submit" value="Send" ng-disabled="!typedText"/>
    <input class="new-message-form__exit" type="button" value="Exit" ng-click="chatExit()"/>
  </form>
</div>
